<div ng-controller="HomeCtrl">


	<div class="row">

		<div class="col-md-6">
			<h1>Dodavanje linije</h1>
			<form>
				<div class="form-group">
					<label for="lbrojmesta">Broj mesta</label> 
					<input class="form-control" id="lbrojmesta" ng-model="newLinija.brojMesta"/>
				</div>
				<div class="form-group">
					<label for="lcenakarte">Cena karte</label> 
					<input class="form-control" id="lcenakarte" ng-model="newLinija.cenaKarte"/>
				</div>
				<div class="form-group">
					<label for="ldestinacija">Destinacija</label> 
					<input class="form-control" id="ldestinacija" ng-model="newLinija.destinacija"/>
				</div>
				<div class="form-group">
					<label for="lvremepolaska">Vreme polaska</label> 
					<input class="form-control" id="lvremepolaska" ng-model="newLinija.vremePolaska"/>
				</div>

				<div class="form-group">
					<label>Prevoznik</label> <select class="form-control" ng-model="newLinija.prevoznikId">
						<option ng-repeat="p in prevoznici" value="{{p.id}}">{{p.naziv}}</option>
					</select>
				</div>

				<button class="btn btn-primary" ng-click="doAdd()">Add</button>
			</form>
		</div>

		<div class="col-md-6">
			<h1>Pretraga linija</h1>
			<form>
				<div class="form-group">
						<label>Destinacija</label> <input ng-model="search.destinacija"
							class="form-control">
				</div>
				<div class="form-group">
					<label>Prevoznik</label> <select class="form-control"
						ng-model="search.prevoznikId">
						<option ng-repeat="p in prevoznici" value="{{p.id}}">{{p.naziv}}</option>
					</select>
				</div>
				
				<div class="form-group">
					<label>Maksimalna cena</label> <input ng-model="search.maxCena"
						class="form-control">
				</div>

				<button ng-click="doSearch()" class="btn btn-primary">Search</button>
			</form>
		</div>


		<div class="col-12">
			<div style="margin-bottom: 10px" class="btn-group float-right">
				<button ng-disabled="pageNum == 0" ng-click="changePage(-1)"
					class="btn btn-primary">Previous</button>
				<button ng-disabled="pageNum == totalPages - 1"
					ng-click="changePage(1)" class="btn btn-primary">Next</button>
			</div>

			<h1>Prikaz linija</h1>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Naziv prevoznika</th>
						<th>Destinacija</th>
						<th>Broj mesta</th>
						<th>Vreme polaska</th>
						<th>Cena karte</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="l in linije">
						<!-- TODO: Prikazati obeležja, kako beleške tako i entiteta za koje je vezana + dugme -->
						<td>{{ l.prevoznikNaziv }}</td>
						<td>{{ l.destinacija }}</td>
						<td>{{ l.brojMesta }}</td>
						<td>{{ l.vremePolaska }} </td>
						<td>{{ l.cenaKarte }}</td>
						<td>
							<button class="btn btn-warning" ng-click="goToEdit(l.id)">Edit</button>
							<button class="btn btn-warning" ng-click="doRezervisi(l.id)">Rezervisi</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>